#
# kano-os-recovery.service
#
# Copyright (C) 2018 Kano Computing Ltd.
# License: http://www.gnu.org/licenses/gpl-2.0.txt GNU General Public License v2
#
# This systemd service recovers a broken system due to power failure during an upgrade.
#
# It runs synchronously between the time systemd has mounted filesystems in read-write mode,
# and before Plymouth wants to display the bootup screen.
#
# Due to some System-V based packages trying to start daemons during a recovery,
# we disable dbus-send, and invoke-rc.d tools using fake bind mounts.
# To enforce reliability, the "unshare" tool is used, to isolate these mounts from the rest of the system.
#
# To debug this service over a serial console, set "StandardOutput=journal+console".
# See the README file for more details.
#

[Unit]
Description=Kano OS Recovery
DefaultDependencies=no
After=kano-os-loader.service local-fs.target
Before=plymouth-start.service

[Service]
StandardOutput=journal
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/unshare -m /usr/bin/kano-os-recovery --recovery
TimeoutSec=0

[Install]
WantedBy=kano-os-loader.service
