#
# kano-os-recovery.service
#
# Copyright (C) 2018 Kano Computing Ltd.
# License: http://www.gnu.org/licenses/gpl-2.0.txt GNU General Public License v2
#
# This systemd service recovers a broken system due to power failure during an upgrade.
#
# It runs synchronously between the time systemd has mounted filesystems read-write,
# and before Plymouth wants to display the bootup screen
#
# To debug this service over a serial console: StandardOutput=journal+console
#

[Unit]
Description=Kano OS Recovery
DefaultDependencies=no
After=kano-os-loader.service local-fs.target
Before=plymouth-start.service

[Service]
StandardOutput=journal
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/unshare -m /usr/bin/kano-os-recovery --recovery
TimeoutSec=0

[Install]
WantedBy=kano-os-loader.service
